p {
    font-family: 'Montserrat', sans-serif;
}
.main {
    background-color: #e6e6e6;
}
.main-wrapper {
    max-width: 1700px;
}
.bloc-1 img {
    width: 230px;
    height: 260px;
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
}
.bloc-1 {
    display: flex;
    /* justify-content: space-around; */
}
.info {
    background-color: #ffffff;
    width: 1300px;

}
.info-tit {
    display: flex;
    justify-content: space-between;
}
.info-3 {
    display: flex;
    justify-content: space-around;
}
.info-1 > p:nth-child(1) {
    padding-left: 150px;
    padding-top: 100px;
    font-size: 40px;
    margin: 0;
}
.info-1 > p:nth-child(2) {
    font-weight: 700;
    font-size: 60px;
    padding-left: 150px;
    margin: 0;
    color: #1d286d;
}
.info-1 > p:nth-child(3) {
    font-weight: 300;
    padding-left: 150px;
    font-size: 20px;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 30px;
}
.info-2 {
    position: absolute;
    width: 1300px;
    height: 332px;

}
.info-2 > a {
    position: relative;
    bottom: -60%;
    left: 89%;
    font-size: 30px;
    padding: 5px;
    color: #e6e6e6;
}
.info-2 > a > i {
    color: #dadada;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
}
.info-3 > div > p:nth-child(1) {
    font-weight: 700;
    margin-bottom: 0;
}
.info-3 > div > p:nth-child(2) {
    margin-top: 10px;
} 
.bloc-2 {
    display: flex;
}
.text-2 {
    background-color: #ffffff;
    width: 1300px;
    padding-top: 80px;
}
.intro-2 {
    padding-left: 83px;
    padding-right: 83px;
    padding-top: 80px;
}
.text-2 > p {
    padding-left: 150px;
}
.text-2 > p > span {
    color: #1d286d;
    font-weight: bold;
}
.bloc-3 {
    display: flex;
}
.intro-3 {
    padding-top: 30px;
    padding-left: 152px;
    padding-right: 153px;
}
.text-3 {
    background-color: #ffffff;
}
.text-3 {
    display: flex;
    width: 1300px;
    margin: 0;
}
.text-3-l {
    padding-top: 30px;
    padding-left: 150px;
}
.text-3-r {
    padding-top: 30px;
    padding-left: 350px;
}
.text-3-l > div > p> span, .text-3-r > div > p> span {
    color: #1d286d;
    font-weight: bold;
}
.text-3-l > div > p:nth-child(1), .text-3-r > div > p:nth-child(1) {
    font-weight: bold;
}
.text-3-l > div > p:nth-child(2), .text-3-r > div > p:nth-child(2) {
    padding-left: 23px;
}
